@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bg text-text-primary font-body;
    margin: 0;
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }

  ::selection {
    background-color: #2f7cb0;
    color: #fafafa;
  }
}

@layer components {
  .section {
    @apply px-6 md:px-12 lg:px-24;
  }
}
